.leftPannel {
  float: left;
  width: 60%;
  height: 100vh;
  border: 1px solid black;
  margin: auto;

}
.rightPannel {
  overflow: hidden;
  float: left;
  width: 40%;
  height: 100vh;
  align-content: center;
  margin: auto;

}


.profit{
  height: 33vh;
  background-color: aqua;
  margin: auto;

}

.graph{
  height: 33vh;
  margin: auto;

}

.dates{
  height: 33vh;
  background-color: blue;
  margin: auto;

}


@media only screen and (max-width: 600px) {
  .leftPannel {
    display: none
  }
  .rightPannel {
    width: 100%;
    margin: auto;

  }
  .profit{
    height: 30vh;
    width: 100%;
    background-color: aqua;
    margin: auto;

  }
  
  .graph{
    width: 100%;
    height: 30vh;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;

  }
  
  .dates{
    width: 100%;
    height: 30vh;
    background-color: blue;
    margin: auto;

  }
}
